<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.mapper.PlanMapper">
    <resultMap id="PlanStruct" type="com.zhou.pojo.Plan">
        <id column="plan_id" property="planId"></id>
        <id column="user_id" property="userId"></id>
        <id column="father_plan_id" property="fatherPlanId"></id>
    </resultMap>
    <!--查询所有的计划-->
    <select id="getAllPlans" resultMap="PlanStruct">
        select plan_id,title,description,deleted,user_id,father_plan_id
        from plan
    </select>
    <!--查询个人计划集-->
    <select id="getOwnPlan" resultMap="PlanStruct">
        select plan_id,title,description,deleted,user_id,father_plan_id
        from plan
        where user_id=#{userId}
    </select>
    <!--插入新的计划-->
    <insert id="addPlan" parameterType="map">
        insert into plan(title,description,user_id,father_plan_id) values (#{title},#{description},#{userId},#{fatherPlanId})
    </insert>

    <!--修改计划-->
    <update id="updateTaskList" parameterType="map">
        update taskList
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="description != null">description=#{description},</if>
            <if test="deleted != null">deleted=#{deleted},</if>
        </set>
        where user_id=#{userId} and task_list_id=#{taskListId}
    </update>

    <!--删除任务集合-->
    <delete id="deleteTaskList">
        delete from taskList
        where task_list_id = #{taskListId}
    </delete>

</mapper>